body {
	margin: 0;
	user-select: none;
}
canvas#threejs-canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#menu, #toggle-menu {
	top: 10px;
	right: 10px;
	position: fixed;
	padding: 8px;
	border: solid 2.5px antiquewhite;
	color: white;
	font: 15px monospace;
	background-color: rgba(0, 0, 0, 0.5);
}
#toggle-menu, data {
	display: none;
}
@media (max-width: 300px) {
	#toggle-menu {
		display: block;
		cursor: pointer;
	}
	body {
		overflow: hidden;
	}
	#menu {
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100vw - 40px);
		height: calc(100vh - 40px);
		border: none;
		padding: 20px;
		transition: opacity .25s;
	}
	#menu.shown {
		opacity: 1;
	}
}