@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	font: 15px Montserrat;
	background-color: white;
	margin: 0;
}
html:not(.started), html:not(.started) #start {
	filter: invert(1);
	opacity: 1;
}
html, #start {
	transition: filter 2s, opacity 2s;
}
#attribution-block {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0;
}
#start {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: green;
	color: white;
	font: bold 1cm Montserrat;
	padding: 1cm;
	border: solid 5px white;
	border-radius: 0.5cm;
	opacity: 0;
}
#draw-canvas {
	width: 100vh;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
}
@media (width < height) {
	#draw-canvas {
		width: 100vw;
		height: 100vw;
	}
}